.button {
    font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
    border: 0;
    border-radius: 1em;
    line-height: 1;

    .button--icon + .button--label {
        margin-left: 12px;
    }
}
.button--primary {
    color: white;
    background-color: #1ea7fd;

    &:hover {
        background-color: #278ccb;
    }
}

.button--secondary {
    color: #333;
    background-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;

    &:hover {
        color: #333333c0;
    }
}

.button--tertiary {
    color: #333;
    background-color: transparent;

    &:hover {
        background-color: #3333330f;
    }
}

.button--small {
    font-size: 12px;
    padding: 10px 16px;
}

.button--medium {
    font-size: 14px;
    padding: 11px 20px;
}

.button--large {
    font-size: 16px;
    padding: 12px 24px;
}
